/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: #ffeef6;
  --text-title-color: #353430;
  --accent-color: #ff8dcb;
  --button-color: #353430;
  --section-title-color: #353430;
  --section-text-color: #353430;
  --title-color: #ffc2e6;
  --border-color: 35, 34, 30;
  --rec-color: #ffeef6;
  --decor-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url("../images/cover-image-light.png");
    --bg-color: #ffeef6;
    --text-title-color: #353430;
    --accent-color: #ff8dcb;
    --button-color: #353430;
    --section-title-color: #353430;
    --section-text-color: #353430;
    --title-color: #ffc2e6;
    --border-color: 35, 34, 30;
    --rec-color: #ffeef6;
    --decor-color: #353430;
  }
}